@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';

// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,600');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body,
* {
  font-family: 'Roboto', sans-serif;
}
.Toastify__progress-bar--default {
  background: rgba(255, 255, 255, 0.5);
}
.toast-container {
  .toast {
    border-radius: 4px;
    min-height: 40px;
    font-weight: normal;
    color: #fff;
    opacity: 1;
    .toast-body {
      font-size: 12px;
      font-weight: bold;
      line-height: 16px;
      .info-text {
        .fa {
          color: #00bcda;
        }
      }
      .fa {
        font-size: 20px;
        display: inline-block;
        margin-right: 10px;
        margin-top: 1px;
      }
      .error-message {
        line-height: 22px;
        display: inline-block;
        width: calc(100% - 30px);
        vertical-align: top;
      }
    }
    .fa-times {
      display: flex;
      align-items: center;
    }
    &.default {
      background-color: #6e6c6c;
    }
    &.error {
      background-color: red;
    }
    &.success {
      background-color: green;
    }
  }
}
